<div class="container taille">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des Contacts</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Mot Clé</label>
        <input class="spacer" type="text" [(ngModel)]="motcle">
        <button class="btn btn-primary  spacers" style="margin-left: 20px;" (click)="cherchercontact()">Chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let c of pagecontacts?.content">
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.email}}</td>
          <td><a (click)="onEditContact(c.id)" class="clikable">Edit</a></td>
          <td><a (click)="onDeleteContact(c)" class="clikable">Supprimer</a></td>
        </tr>
      </table>
      <div class="container">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':i == page}" *ngFor="let p of pages, let i=index">
            <a class="clikable" (click)="pageSuivante(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

